body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: gray;
}
h4{
    color: gray;
}
.name-highlite{
    color: orange;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, #f0673d);
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue ;
    font-weight: 500;

}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stuck{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
    
}
#full-stuck2{
    border-left: 7px solid;
    border-image: linear-gradient(30deg, cyan, blue);
    border-image-slice: 1;
}
footer{
    color: #f0673d;
    text-align: center;
    font-size: 15px;
}